*{
   background-color: #1C2833;

}

h2{
    color:indianred;
}

p{
    color:indianred;
}
.header{
    background-color: gold;
    color:red
}

.menu{
    justify-content: space-evenly;
    color:aquamarine
}

.games{
    display:flex; 
    flex-direction: row;
    color:blueviolet
}

.game{
    text-align: center;
    margin-left: 20px;
    color:indianred
}

.socialmedia{
    display:flex;
    justify-content: center;
}
